<ion-content>
  <article *ngFor="let tournament of tournamentsCollection">

    <!--<ion-item [routerLink]="'/tournament/fiche/' + tournament.tournament._id" routerDirection="forward">{{ tournament.tournament.name }} créé par {{ tournament.user.email }}</ion-item>-->
    <ion-card>
        <ion-card-header>
          <ion-card-title>{{ tournament.tournament.name }}</ion-card-title>
          <ion-card-subtitle>Added by {{ tournament.user.email }}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Do you want to see <a [routerLink]="[ '/tournament/fiche/', tournament.tournament._id ]">{{ tournament.tournament.name }}</a> ?
        </ion-card-content>
      </ion-card>
  </article>

  <!-- fab placed to the top end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" [routerLink]="'/tournament/new'"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>