<h1>Ajouter un jeu</h1>

<form [formGroup]="form" (submit)="createGame()">
    <input type="text" name="name" formControlName="name">
    <div formArrayName="platforms"
        *ngFor="let platform of form.controls['platforms'].controls; let i = index">
        <div [formGroupName]="i">
            <input formControlName='name'>
        </div>
    </div>

    <button type="button" (click)="addInputPlatform()">Ajouter une plateforme</button>

    <div formArrayName="modes"
        *ngFor="let mode of form.controls['modes'].controls; let i = index">
        <div [formGroupName]="i">
            <input formControlName='name'>
            <input formControlName='description'>
        </div>
    </div>

    <button type="button" (click)="addInputMode()">Ajouter un mode</button>

    <div formArrayName="rules"
        *ngFor="let rule of form.controls['rules'].controls; let i = index">
        <div [formGroupName]="i">
            <input formControlName='name'>
            <input formControlName='description'>
        </div>
    </div>

    <button type="button" (click)="addInputRule()">Ajouter une règle</button>
  
    <button type="submit" [disabled]="!form.valid">Ajouter un jeu</button>
  </form>