<ion-content>
  <header>
    <h1>Pocket Versus Planner</h1>
    <nav>
      <a [routerLink]="'/'">Home</a>
      <a [routerLink]="'/signup'">Signup</a>
      <a [routerLink]="'/login'">Login</a>
      <a [routerLink]="'/game/new'">Nouveau jeu</a>
      <a [routerLink]="'/tournament/new'">Nouveau tournoi</a>
    </nav>
  </header>

  <section *ngIf="gamesCollection">
    <article *ngFor="let game of gamesCollection">

      <!--<ion-item [routerLink]="'/game/fiche/' + game.game._id" routerDirection="forward">{{ game.game.name }} créé par {{ game.user.email }}</ion-item>-->
      <ion-card>
          <ion-card-header>
            <ion-card-title>{{ game.game.name }}</ion-card-title>
            <ion-card-subtitle>Added by {{ game.user.email }}</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Do you want to see <a [routerLink]="[ '/game/fiche/', game.game._id ]">{{ game.game.name }}</a> ?
          </ion-card-content>
        </ion-card>
    </article>

  </section>
</ion-content>