<ion-slides class="tutorialSlide" pager="true" [options]="slideOpts">
	<ion-slide class="whiteColor">
		<span class="absoluteBottomLeft" routerLink="/tabs/home">PASSER</span>
		<div class="absoluteCenter" style="width: 80%"> 
			<ion-img class="maxWidth160" src="../../../assets/images/tutorial_plan.png" alt="Plan your tournament"></ion-img>
			<h6><b>Planifie ta propre compétition</b></h6>
			<p>Créé, organise, et joue avec tout le monde !</p>
		</div>
		<span class="absoluteBottomRight yellowColor" type="submit" (click)="slideNext()">Next ></span>
	</ion-slide>
	<ion-slide class="whiteColor">
		<span class="absoluteBottomLeft yellowColor" type="submit" (click)="slidePrev()">< Prev</span>
		<div class="absoluteCenter" style="width: 80%">
			<ion-img class="maxWidth160" src="../../../assets/images/tutorial_search.png" alt="Plan your tournament"></ion-img>
			<h6><b>Recherche une compétition</b></h6>
			<p>Profite de la recherche avancée afin de trouver la compétition qui te correspond !</p>
		</div>
		<span class="absoluteBottomRight yellowColor" type="submit" (click)="slideNext()">Next ></span>
	</ion-slide>
	<ion-slide class="whiteColor">
		<span class="absoluteBottomLeft yellowColor" type="submit" (click)="slidePrev()">< Prev</span>
		<div class="absoluteCenter" style="width: 80%">
			<ion-img class="maxWidth160" src="../../../assets/images/tutorial_add.png" alt="Plan your tournament"></ion-img>
			<h6><b>Ajoute ton jeu favoris</b></h6>
			<p>Un jeu n'existe pas au sein de l'application, aucun soucis, ajoue le !</p>
		</div>
		<span class="absoluteBottomRight" routerLink="/tabs/home">GO !</span>
	</ion-slide>
</ion-slides>