<div class="banner">
  <ion-icon class="blackButton" size="large" color="light" ios="ios-arrow-back" md="ios-arrow-back" (click)="backClicked()" nav-direction="swap"></ion-icon>
</div>

<div style="color: white;" *ngIf="championshipInformation">

  <div class="infos">
    <div class="content">
      <div class="textCenter">
        <div class="imgContainer">
          <img src="{{ championshipInformation.infos.image }}" />
        </div>
        <h1>{{ championshipInformation.championship.name }}</h1>
        <h2>{{ championshipInformation.infos.game }} </h2>
        <h2>Créé le {{ championshipInformation.championship.dateCreation | date: 'dd/MM/yyyy' }} par {{ championshipInformation.infos.author.pseudo }}</h2>
        <h1 style="margin-top: 15px; color: #CD2235;" *ngIf="championshipInformation.championship.isFinish == true">{{ leader }} a remporté ce tournoi !</h1>
      </div>

      <div class="flexBox spaceBetween ft-14 marginTB10">
        <span><ion-icon size="large" name="time"></ion-icon> {{ championshipInformation.championship.startDate | date: 'dd/MM/yyyy' }}</span>
        <span *ngIf="championshipInformation.championship.online == false"><ion-icon size="large" name="locate"></ion-icon> {{ championshipInformation.championship.place }}</span>
      </div>

      <div class="flexBox spaceBetween ft-14 marginTB10">
        <span *ngIf="championshipInformation.championship.online == true"><ion-icon size="large" name="wifi"></ion-icon> En ligne</span>
        <span *ngIf="championshipInformation.championship.online == false"><ion-icon size="large" name="wifi"></ion-icon> Local</span>
        <span *ngIf="championshipInformation.championship.isPrivate == true"><ion-icon size="large" name="eye"></ion-icon> Privé</span>
        <span *ngIf="championshipInformation.championship.isPrivate == false"><ion-icon size="large" name="eye"></ion-icon> Public</span>
        <span><ion-icon size="large" name="desktop"></ion-icon> {{ championshipInformation.infos.platform }}</span>
      </div>

      <div class="ft-14 marginTB10" style="margin-top: 20px;">
        <p>{{ championshipInformation.championship.description }}</p>
      </div>

      <div>
        <div class="flexBox spaceBetween ft-14 marginTB10">
          <span>TOTAL PARTICIPANTS</span>
          <span>{{ championshipInformation.championship.registerList.length }}/{{ championshipInformation.championship.nbPlayers }} </span>
        </div>
        <div>
          <div class="progressBar">
            <div [ngStyle]="{'width': pourcentageRegister + '%'}" class="progressBarContent"></div>
          </div>
        </div>
      </div>

      <div *ngIf="isLogged == true">
        <div *ngIf="isRegistered == true; else noRegister">
            <button type="button" (click)="removePlayer(championshipInformation.championship._id)">Je me désinscris</button>
        </div>
        <ng-template #noRegister>
            <button type="button" (click)="addPlayer(championshipInformation.championship._id)">Je m'inscris</button>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="rulesAndModes">
    <div class="content">
      <div class="title textCenter">
        Règles & Modes de jeu
      </div>

      <div class="textCenter">
        <span><ion-icon size="large" name="logo-game-controller-b"></ion-icon> {{ championshipInformation.infos.mode.name }}</span>
      </div>

      <div class="ft-14 marginTB10" style="margin-top: 20px;">
        <p>{{ championshipInformation.infos.mode.description }}</p>
      </div>

      <div class="textCenter titleRule">
        <span>Règle #1</span>
      </div>

      <div class="ft-14 marginTB10">
        <p>{{ championshipInformation.infos.rule.description }}</p>
      </div>
    </div>
  </div>

  <div class="ranking">
    <div class="content">
      <div class="title textCenter">
        Classement
      </div>

      <div *ngIf="championshipInformation.championship.ranking.length > 0">
        <div class="table flexBox flexDirectionColumn">
          <div class="flexBox spaceBetween rankingHeader">
            <div class="rankingPseudo">Pseudo</div>
            <div class="rankingMatches">M.J</div>
            <div class="rankingAverage">D.</div>
            <div class="rankingPoints">P.</div>
          </div>
          <div (click)="openUserModal(player.playerId)" class="eachPlayer flexBox spaceBetween alignItemsCenter" *ngFor="let player of championshipInformation.championship.ranking">
            <div class="rankingPseudo">{{ player.pseudo }}</div>
            <div class="rankingMatches">{{ player.nbMatches }}</div>
            <div class="rankingAverage">{{ player.average }}</div>
            <div class="rankingPoints">{{ player.points }}</div>
          </div>
        </div>
      </div>      
    </div>
  </div>

  <div class="matches">
    <div class="content">
      <div class="title textCenter">
        Tous les matchs
      </div>

      <div *ngIf="championshipInformation.championship.ranking.length > 0">
        <div (click)="openChampionshipMatchModal(championshipInformation.championship._id, match._id, match.pseudoA, match.scorePlayerA, match.pseudoB, match.scorePlayerB, match.playerA, match.playerB, championshipInformation.championship.isFinish)" class="flexBox spaceBetween eachMatch" *ngFor="let match of championshipInformation.championship.matches">
          <div class="textEllipsis" style="width: 33%;">
            {{ match.pseudoA }}
          </div>
          <div style="width: 33%; text-align: center;">
            {{ match.scorePlayerA }} - {{ match.scorePlayerB }}
          </div>
          <div class="textEllipsis" style="width: 33%; text-align: end">
            {{ match.pseudoB }}
          </div>
        </div>
      </div> 
      
      <div *ngIf="canBeClosed == true && championshipInformation.championship.isFinish == false && isOwner == true">
        <button type="button" (click)="closeChampionship(championshipInformation.championship._id)" id="lockChampionship">Clore le championnat</button>
        <span>
          Tous les matchs ont été disputés. Vous pouvez donc cloturer le championnat. 
          Attention, si vous effectuez cette action, vous ne pourrez plus modifier les résultats.
        </span>
      </div>     
    </div>
  </div>

</div>