<ion-header *ngIf="userInformations">
  <ion-toolbar class="modalHeader">
    <ion-title>{{ userInformations.pseudo }}</ion-title>
    <ion-buttons slot="end">
        <ion-icon size="large" name="close" (click)="closeModal()"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="modalContent" *ngIf="userInformations">
  <div class="content">

    <h1>Informations</h1>

    <p class="flexBox alignItemsCenter">
        <ion-icon name="trophy"></ion-icon><span>Compétition(s) remportée(s) : {{ userInformations.countWin }}</span>
    </p>
    
    <h1>Réseaux</h1>

    <p class="flexBox alignItemsCenter">
        <ion-icon name="logo-twitch"></ion-icon><span>Twitch : {{ userInformations.parameters.twitch }}</span>
    </p>
    
    <p class="flexBox alignItemsCenter">
        <ion-icon name="chatboxes"></ion-icon><span>Discord : {{ userInformations.parameters.discord }}</span>
    </p>

    <h1 style="margin-bottom: 20px;">Championnats & Tournois</h1>

    <ion-card class="card" *ngFor="let championship of userInformations.championshipArray">
        <ion-card-header (click)="closeModal()" style="padding: 10px;" [routerLink]="[ '/championship/fiche/', championship.championship._id ]">
          <ion-row justify-content-between>
            <ion-col size="3">
              <img style="height: 100%; object-fit: cover;" src="{{ championship.infos.image }}" item-left/>
            </ion-col>
            <ion-col size="9">
              <ion-row class="whiteColor">
                  <ion-text class="cardTitle">{{ championship.championship.name }}</ion-text>
              </ion-row>
              <ion-row text-wrap class="whiteColor">
                <ion-text class="smallCardText">{{ championship.infos.game }}</ion-text>
              </ion-row>
              <div class="lineBreak"></div>
              <ion-row class="whiteColor" style="font-size: 3.8vw">
                {{ championship.championship.startDate | date:'EEEE dd LLLL yyyy' }}
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card-header>
      </ion-card>
  </div>
</ion-content>
