<ion-header *ngIf="userInformations">
  <ion-toolbar class="modalHeader">
    <ion-title>{{ userInformations.pseudo }}</ion-title>
    <ion-buttons slot="end">
        <ion-icon size="large" name="close" (click)="closeModal()"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="modalContent" *ngIf="userInformations">
  <div class="content">

    <h1>Informations</h1>

    <p class="flexBox alignItemsCenter">
        <ion-icon name="trophy"></ion-icon><span>Compétition(s) remportée(s) : {{ userInformations.countWin }}</span>
    </p>
    
    <h1>Réseaux</h1>

    <p class="flexBox alignItemsCenter">
        <ion-icon name="logo-twitch"></ion-icon><span>Twitch : {{ userInformations.parameters.twitch }}</span>
    </p>
    
    <p class="flexBox alignItemsCenter">
        <ion-icon name="chatboxes"></ion-icon><span>Discord : {{ userInformations.parameters.discord }}</span>
    </p>

    <h1>Championnats & Tournois</h1>

    <ul>
      <li *ngFor="let championship of userInformations.championships">
        <a (click)="closeModal()" [routerLink]="[ '/championship/fiche/', championship._id ]">{{ championship.name }}</a>
      </li>
    </ul>
  </div>
</ion-content>
