<h2>Sign up</h2>

<form [formGroup]="form" (submit)="signup()">
  <input placeholder="Mon pseudo" type="text" formControlName="pseudo" name="pseudo">
  <input placeholder="Mon email" type="email" name="email" formControlName="email">
  <input placeholder="Mot de passe" type="password" name="password" formControlName="password">
  <div formGroupName="parameters">
      <input placeholder="Twitch" type="text" formControlName="twitch" name="twitch">
      <input placeholder="Discord" type="text" formControlName="discord" name="discord">
  </div>

  <button type="submit" [disabled]="!form.valid">Sign Up</button>
</form>