<ion-content>
  <div class="signUpContainer">
    <header>
      <ion-icon class="blackButton" size="large" color="light" ios="ios-arrow-back" md="ios-arrow-back" (click)="backClicked()" nav-direction="swap"></ion-icon>
    </header>
    <div class="textCenter">
      <img src="../../../assets/images/logo_pvp.png" />
    </div>
    <div class="signUpForm">
      <form [formGroup]="form" (submit)="signup()">
        <input placeholder="Mon pseudo" type="text" formControlName="pseudo" name="pseudo">
        <input placeholder="Mon email" type="email" name="email" formControlName="email">
        <input placeholder="Mot de passe" type="password" name="password" formControlName="password">
      
        <button type="submit" [disabled]="!form.valid">Sign Up</button>
      </form>
    </div>
  </div>
</ion-content>