/* Message */

.errorMessage {
    background-color: #FFBABA;
    border-top: 1px solid #D8000C;
    z-index: 1000;
}

.successMessage {
    background-color: #D4EDDA;
    border-top: 1px solid #C3E6CB;
    z-index: 1000;
}

.warningMessage {
    background-color: #FFF3CD;
    border-top: 1px solid #FFEEBA;
    z-index: 1000;
}

/* Color */

.redColor {
    color: #CD2235;
}

.whiteColor {
    color: #FFFFFF !important;
}

.yellowColor {
    color: #FFC100;
}

.greenColor {
    color: #0ec30e;
    font-weight: bold;
}

/* Background Color */


/* Size */

.maxWidth160 {
    max-width: 160px;
    margin: 0 auto;
}

/* Position */

.divCenter {
    display: block;
    margin: 0 auto;
}

.textCenter {
    text-align: center;
}

.absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.absoluteBottomLeft {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 20;
}

.absoluteBottomRight {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 20;
}

.marginT15 {
    margin-top: 15px;
}

.marginTB10 {
    margin: 10px 0;
}

.noMarginB {
    margin-bottom: 0;
}

.flexBox {
    display: flex;
}

.spaceBetween {
    justify-content: space-between;
}

.horizontalCenter {
    justify-content: center;
}

.horizontalEnd {
    justify-content: flex-end;
}

.alignItemsCenter {
    align-items: center;
}

.flexDirectionColumn {
    flex-direction: column;
}

/** Size **/

.ft-14 {
    font-size: 14px;
}

.ft-16 {
    font-size: 16px;
}

/** Text **/

.textEllipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/** Utils **/

.lineBreak {
    height: 1px;
    background-color: #FFFFFF;
    margin: 10px 0;
}