/* Message */

.errorMessage {
    background-color: #FFBABA;
    border: 1px solid #D8000C;
    z-index: 1000;
}

.successMessage {
    background-color: #D4EDDA;
    border: 1px solid #C3E6CB;
    z-index: 1000;
}

.warningMessage {
    background-color: #FFF3CD;
    border: 1px solid #FFEEBA;
    z-index: 1000;
}

/* Color */

.whiteColor {
    color: #FFFFFF !important;
}

.yellowColor {
    color: #FFC100;
}

/* Background Color */


/* Size */

.maxWidth160 {
    max-width: 160px;
    margin: 0 auto;
}

/* Position */

.divCenter {
    display: block;
    margin: 0 auto;
}

.textCenter {
    text-align: center;
}

.absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.absoluteBottomLeft {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 20;
}

.absoluteBottomRight {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 20;
}

.marginTB10 {
    margin: 10px 0;
}

.flexBox {
    display: flex;
}

.spaceBetween {
    justify-content: space-between;
}

/** Size **/

.ft-14 {
    font-size: 14px;
}

/** Utils **/

.lineBreak {
    height: 1px;
    background-color: #FFFFFF;
    margin: 10px 0;
}