<ion-content>
  <div id="searchContainer">
    <div class="title textCenter">
      Filtres de recherche
    </div>

    <form id="searchForm" [formGroup]="form" (submit)="searchCompetition()">
      <ion-radio-group name="competition" formControlName="competition">
        <ion-item-divider mode="ios">
          <ion-label class="subtitle ft-16 noMarginB">Type de compétition</ion-label>
        </ion-item-divider>
        <ion-item class="radioButtonGroup">
          <ion-label>Tournoi</ion-label>
          <ion-radio slot="end" value="tournament"></ion-radio>
        </ion-item>

        <ion-item class="radioButtonGroup">
          <ion-label>Championnat</ion-label>
          <ion-radio slot="end" value="championship"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <div id="toggleFields" style="display: none" data-original-display>
        <ion-list mode="ios">
          <ion-item>
            <ion-label class="subtitle ft-16">Jeu</ion-label>
            <ion-select placeholder="Sélectionnez un jeu" formControlName="game" (ionChange)="selectedGame($event.target.value)" okText="Choisir" cancelText="Annuler">
              <ion-select-option *ngFor="let item of gamesCollection" [value]="item.game._id">{{item.game.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-radio-group name="online" formControlName="online">
          <ion-item-divider mode="ios">
            <ion-label class="subtitle ft-16 noMarginB">Accessibilité</ion-label>
          </ion-item-divider>
          <ion-item class="radioButtonGroup">
            <ion-label>En ligne</ion-label>
            <ion-radio slot="end" value="true"></ion-radio>
          </ion-item>

          <ion-item class="radioButtonGroup">
            <ion-label>Local</ion-label>
            <ion-radio slot="end" value="false"></ion-radio>
          </ion-item>
        </ion-radio-group>

        <div class="flexBox horizontalCenter">
          <!-- <ion-item>
            <ion-range pin="true" step="1" min="range.minimumPlayer" max="range.maximumPlayer" color="secondary" name="nbPlayers" formControlName="nbPlayers">
              <ion-label slot="start">{{ range.minimumPlayer }}</ion-label>
              <ion-label slot="end">{{ range.maximumPlayer }}</ion-label>
            </ion-range>
          </ion-item> -->
          <input type="number" name="nbPlayers" formControlName="nbPlayers" placeholder="Nombre de joueurs"/>
        </div>
        <div class="flexBox horizontalCenter">
          <ion-datetime placeholder="Date de la compétition" name="startDate" formControlName="startDate"></ion-datetime>
        </div>
        <div class="flexBox horizontalCenter">
          <input type="text" name="place" formControlName="place" placeholder="Adresse" />
        </div>
      </div>

      <div class="flexBox horizontalEnd">
        <div (click)="toggleForm()" id="toggleForm">Plus de filtres</div>
      </div>

      <ion-button type="submit" [disabled]="!form.valid">GO !</ion-button>
    </form>
  </div>

  <div id="searchResult">
    <div class="title textCenter">
      Résultats
    </div>

    <section *ngIf="resultsCollection; else noStartedSearch">
        <p *ngIf="resultsCollection.length == 0">Aucun résultat</p>
      <article *ngFor="let result of resultsCollection">
        <a *ngIf="searchFields.searchFields.competition == 'championship'" [routerLink]="[ '/championship/fiche/', result._id ]">{{ result.name }}</a>
        <a *ngIf="searchFields.searchFields.competition == 'tournament'" [routerLink]="[ '/tournament/fiche/', result._id ]">{{ result.name }}</a>
      </article>
    </section>
  </div>
</ion-content>

<ng-template #noStartedSearch>
  <p>Vos résultats s'afficheront ici.</p>
</ng-template>