<div class="banner">
    <ion-icon class="blackButton" size="large" color="light" ios="ios-arrow-back" md="ios-arrow-back" (click)="backClicked()" nav-direction="swap"></ion-icon>
  </div>
  
  <div style="color: white;" *ngIf="tournamentInformation">
  
    <div class="infos">
      <div class="content">
        <div class="textCenter">
          <div class="imgContainer">
            <img src="{{ tournamentInformation.infos.image }}" />
          </div>
          <h1>{{ tournamentInformation.tournament.name }}</h1>
          <h2>{{ tournamentInformation.infos.game }} </h2>
          <h2>Créé le {{ tournamentInformation.tournament.dateCreation | date: 'dd/MM/yyyy' }} par {{ tournamentInformation.infos.author.pseudo }}</h2>
        </div>
  
        <div class="flexBox spaceBetween ft-14 marginTB10">
          <span><ion-icon size="large" name="time"></ion-icon> {{ tournamentInformation.tournament.startDate | date: 'dd/MM/yyyy' }}</span>
          <span *ngIf="tournamentInformation.tournament.online == false"><ion-icon size="large" name="locate"></ion-icon> {{ tournamentInformation.tournament.place }}</span>
        </div>
  
        <div class="flexBox spaceBetween ft-14 marginTB10">
          <span *ngIf="tournamentInformation.tournament.online == true"><ion-icon size="large" name="wifi"></ion-icon> En ligne</span>
          <span *ngIf="tournamentInformation.tournament.online == false"><ion-icon size="large" name="wifi"></ion-icon> Local</span>
          <span *ngIf="tournamentInformation.tournament.isPrivate == true"><ion-icon size="large" name="eye"></ion-icon> Privé</span>
          <span *ngIf="tournamentInformation.tournament.isPrivate == false"><ion-icon size="large" name="eye"></ion-icon> Public</span>
          <span><ion-icon size="large" name="desktop"></ion-icon> {{ tournamentInformation.infos.platform }}</span>
        </div>
  
        <div class="ft-14 marginTB10" style="margin-top: 20px;">
          <p>{{ tournamentInformation.tournament.description }}</p>
        </div>
  
        <div>
          <div class="flexBox spaceBetween ft-14 marginTB10">
            <span>TOTAL PARTICIPANTS</span>
            <span>{{ tournamentInformation.tournament.registerList.length }}/{{ tournamentInformation.tournament.nbPlayers }} </span>
          </div>
          <div>
            <div class="progressBar">
              <div [ngStyle]="{'width': pourcentageRegister + '%'}" class="progressBarContent"></div>
            </div>
          </div>
        </div>
  
        <div>
          <button type="button" (click)="addOrRemovePlayer(tournamentInformation.tournament._id)">Je m'inscris</button>
        </div>
      </div>
    </div>
  
    <div class="rulesAndModes">
      <div class="content">
        <div class="title textCenter">
          Règles & Modes de jeu
        </div>
  
        <div class="textCenter">
          <span><ion-icon size="large" name="logo-game-controller-b"></ion-icon> {{ tournamentInformation.infos.mode.name }}</span>
        </div>
  
        <div class="ft-14 marginTB10" style="margin-top: 20px;">
          <p>{{ tournamentInformation.infos.mode.description }}</p>
        </div>
  
        <div class="textCenter titleRule">
          <span>Règle #1</span>
        </div>
  
        <div class="ft-14 marginTB10">
          <p>{{ tournamentInformation.infos.rule.description }}</p>
        </div>
      </div>
    </div>
  
  </div>